#!/usr/bin/env bash
# Used as a default to seed config/.env which
# enables you to use environment variables to configure
# the aspects of your application that vary by
# environment.
#
# Having this file in production is considered a **SECURITY RISK** and also decreases
# the bootstrap performance of your application.
#
# To use this file, first copy it into `config/.env`. Also ensure the related
# code block for loading this file is uncommented in `config/bootstrap.php`
#
# In development .env files are parsed by PHP
# and set into the environment. This provides a simpler
# development workflow over standard environment variables.
export APP_NAME=__APP_NAME__
export DEBUG=true
export APP_ENCODING=UTF-8
export APP_DEFAULT_LOCALE=jp
export APP_DEFAULT_TIMEZONE=Asia/Tokyo
export SECURITY_SALT=s3fgs2KSrpca1yA2ratdb91AbRaxeeb9AfAdkvpa
export APP_PDF_BASE_URL = /var/www/html/tacmapctl/pdf

# Database
export DB_CONNECTION=mysql
export DB_HOST=10.99.63.84
export DB_PORT=3306
export DB_DATABASE=tac_admin
export DB_USERNAME=phpu
export DB_PASSWORD=Phpu@4214

# AWS S3
export S3_BASE_URL=https://s3-ap-northeast-1.amazonaws.com/voice.tac-school.co.jp/
export PREVIEW_URL=https://edit.tac-school.co.jp/edit01/view.php?pageId=16299

# Uncomment these to define cache configuration via environment variables.
export APP_CACHE_DURATION="+999 days"
export CACHE_DURATION="+10 seconds"
#export CACHE_DEFAULT_URL="file:///path/to/tmp/cache/?prefix=${APP_NAME}_default_&duration=${CACHE_DURATION}"
#export CACHE_CAKECORE_URL="file:///path/to/tmp/cache/persistent?prefix=${APP_NAME}_cake_core_&serialize=true&duration=${CACHE_DURATION}"
#export CACHE_CAKEMODEL_URL="file:///path/to/tmp/cache/models?prefix=${APP_NAME}_cake_model_&serialize=true&duration=${CACHE_DURATION}"

# Uncomment these to define email transport configuration via environment variables.
#export EMAIL_TRANSPORT_DEFAULT_URL=""

# Uncomment these to define database configuration via environment variables.
#export DATABASE_URL="mysql://my_app:secret@localhost/${APP_NAME}?encoding=utf8&timezone=UTC&cacheMetadata=true&quoteIdentifiers=false&persistent=false"
#export DATABASE_TEST_URL="mysql://my_app:secret@localhost/test_${APP_NAME}?encoding=utf8&timezone=UTC&cacheMetadata=true&quoteIdentifiers=false&persistent=false"

# Uncomment these to define logging configuration via environment variables.
#export LOG_DEBUG_URL="file:///path/to/logs/?levels[]=notice&levels[]=info&levels[]=debug&file=debug"
#export LOG_ERROR_URL="file:///path/to/logs/?levels[]=warning&levels[]=error&levels[]=critical&levels[]=alert&levels[]=emergency&file=error"
